<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <div id="app">
       <h1 v-if="ok"> v-if="ok" - Yes</h1>
       
       not generate html
       <h1 v-else="ok"> v-else="ok" - No</h1>       
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>

    <script>

    var data = {
         ok : true
        };

    var vue = new Vue({
          el : "#app",
          data : data
     });
    </script>
</body>
</html>
